<!DOCTYPE html>
{% load static %}
<html lang="en">
 <style>
   ul.hr {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
<!--    border: 1px solid #000; /* Рамка вокруг текста */-->
    padding: 3px; /* Поля вокруг текста */
   }
  </style>
<head>
    <meta charset="UTF-8">
  {% block title %}
  {% endblock %}
<!--    <link href="{% static 'css/styles5.css' %}" rel = "stylesheet">-->
    <link rel="stylesheet" href="/static/admin/css/base.css">
</head>

<body>
<center><h2>NetDiags: диагностика локальной сети</h2></center>

<div align="right">
<ul class="hr">
    <li><a href="/">[Главная]</a></li>
    <li><a href="/log_chart/">[Диаграммы]</a></li>
    <li><a href="/about/">[О сервисе]</a></li>
    <li><a href="/feedback/">[Обратная связь]</a></li>
    <li><a href="/admin/">[Вход в админку] </a></li>
</ul>
</div>
<hr>
{% block content %}
{% endblock content %}
<hr>
<p>
<p>
<center>Петпроект  Мурата Кябишева, 2023 г.</center>

</body>
</html>