{% extends 'base.html' %}

{% block title %}
<title> Анализ и диагностика сети</title>
{% endblock title %}

{% block content %}

<form action="/" method="POST">
    {% csrf_token %}
    {{ form }}
    Метод проверки:
    <select name="service">
<!--        <option disabled>Выбор типа проверки</option>-->
        <option>ping</option>
        <option>порты</option>
    </select>

    Размер пакета(Байт):
    <select name="packet_size">
<!--        <option disabled>64</option>-->
        <option>32</option>
        <option>64</option>
        <option>128</option>
        <option>256</option>
    </select>

    Число пакетов:
    <select name="packet_count">
<!--        <option disabled>64</option>-->
        <option>10</option>
        <option>100</option>
        <option>200</option>

    </select>

    <input type="submit" id="submit" name="Button" value="Начать проверку">
<!--           onclick="document.write('нажата кнопка проверки');">-->

</form>

<hr>
<center>
<table>
    <tr align="center">
        <td><b>Дата</b> </td><td><b>Хост</b></td><td><b>Оправлено пакетов</b></td>
        <td><b>Размер пакета</b></td> <td><b>Среднее время отклика</b></td>
    </tr>
{% for rec in items %}
    <tr>
        <td>{{ rec.log_date }} </td><td>{{ rec.log_host }}</td> </td><td>{{ rec.log_ping_count }}</td>
        <td>{{ rec.log_ping_size }}</td><td>{{ rec.log_average }}</td>
    </tr>
{% endfor %}
</table>
<!-- Блок пагинации//-->
    <div class="pagination" align="center">
      <span class="step-links">
        {% if items.has_previous %}
          <a href="?page=1">Первая стр.</a>
          <a href="?page={{ items.previous_page_number }}"><<</a>
        {% endif %}

        <span class="current-page">
          {{ items.number }}
        </span>

        {% if items.has_next %}
          <a href="?page={{ items.next_page_number }}">>></a>
          <a href="?page={{ items.paginator.num_pages }}">Последняя стр.</a>
        {% endif %}
      </span>
    </div>
</center>
<p>
<!-- Конец блока пагинации//-->

<!-- Начало блока вызова javascripta' отслеживающего остояние dom-объекта select//-->
<script>
    document.getElementById("id_sector_name").addEventListener("change", function() {
        var sector_id = this.value;
        var serverSelect = document.getElementById("id_server_name");
        serverSelect.innerHTML = "";
        fetch("/get_server_list/" + sector_id + "/")
            .then(response => response.json())
            .then(data => {
                data.forEach(function(server) {
                    var option = document.createElement("option");
                    option.value = server.id;
                    option.text = server.name;
                    serverSelect.add(option);
                });
            });
    });
</script>

<!-- Начало блока вызова javascripta' выводящего для юзера в браузер popup-окна во время процесса тестирования//-->
<script>
<!--    document.querySelector("#submit").onclick = function()-->
<!--    {-->
<!--    alert("Начало пинга");-->
<!--    }-->

function showMessage(message) {
  var popup = document.createElement("div");
  popup.innerHTML = message;
  popup.style.backgroundColor = "rgba(0,100,250,0.7)";
  popup.style.color = "white";
  popup.style.padding = "20px";
  popup.style.position = "fixed";
  popup.style.top = "50%";
  popup.style.left = "50%";
  popup.style.transform = "translate(-50%, -50%)";
  popup.style.zIndex = "9999";
  document.body.appendChild(popup);
<!--  setTimeout(function() {-->
<!--    popup.remove();-->
<!--  }, 3000);-->
}

var button = document.getElementById("submit");
button.addEventListener("click", function() {
  showMessage("Идет опрос выбранных хостов. Немного терпения...");
});
</script>

{% endblock content%}

<!--{% block footer %}-->
<!--{% endblock footer%}-->